## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [0]:
import os
import numpy as np
import pandas as pd

In [43]:
# 設定 data_path
from google.colab import drive
drive.mount('/content/drive',force_remount=True)
dir_data = '/content/drive/My Drive/Colab Notebooks/'

Mounted at /content/drive

In [44]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: /content/drive/My Drive/Colab Notebooks/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [47]:
app_train.shape

(307511, 122)

#### 列出所有欄位

In [48]:
pd.DataFrame(app_train)

        SK_ID_CURR  ...  AMT_REQ_CREDIT_BUREAU_YEAR
0           100002  ...                         1.0
1           100003  ...                         0.0
2           100004  ...                         0.0
3           100006  ...                         NaN
4           100007  ...                         0.0
5           100008  ...                         1.0
6           100009  ...                         2.0
7           100010  ...                         0.0
8           100011  ...                         1.0
9           100012  ...                         NaN
10          100014  ...                         0.0
11          100015  ...                         2.0
12          100016  ...                         0.0
13          100017  ...                         1.0
14          100018  ...                         NaN
15          100019  ...                         1.0
16          100020  ...                         0.0
17          100021  ...                         NaN
18          100022  ...                         0.0
19          100023  ...                         2.0
20          100024  ...                         NaN
21          100025  ...                         4.0
22          100026  ...                         5.0
23          100027  ...                         3.0
24          100029  ...                         0.0
25          100030  ...                         0.0
26          100031  ...                         2.0
27          100032  ...                         0.0
28          100033  ...                         1.0
29          100034  ...                         NaN
...            ...  ...                         ...
307481      456225  ...                         3.0
307482      456226  ...                         1.0
307483      456227  ...                         5.0
307484      456228  ...                         NaN
307485      456229  ...                         0.0
307486      456230  ...                         1.0
307487      456231  ...                         8.0
307488      456232  ...                         1.0
307489      456233  ...                         2.0
307490      456234  ...                         1.0
307491      456235  ...                         7.0
307492      456236  ...                         0.0
307493      456237  ...                         7.0
307494      456238  ...                         1.0
307495      456239  ...                         1.0
307496      456240  ...                         2.0
307497      456241  ...                         6.0
307498      456242  ...                         2.0
307499      456243  ...                         0.0
307500      456244  ...                         5.0
307501      456245  ...                         NaN
307502      456246  ...                         1.0
307503      456247  ...                         2.0
307504      456248  ...                         NaN
307505      456249  ...                         0.0
307506      456251  ...                         NaN
307507      456252  ...                         NaN
307508      456253  ...                         1.0
307509      456254  ...                         0.0
307510      456255  ...                         1.0

[307511 rows x 122 columns]

#### 截取部分資料

In [49]:
app_train.loc[100:110, ['SK_ID_CURR', 'TARGET', 'DAYS_REGISTRATION']]

     SK_ID_CURR  TARGET  DAYS_REGISTRATION
100      100119       0            -4987.0
101      100120       0            -4329.0
102      100121       0            -9388.0
103      100122       0             -550.0
104      100123       0            -3917.0
105      100124       0            -7040.0
106      100125       0            -2376.0
107      100126       0            -2124.0
108      100127       0           -10150.0
109      100129       0            -4066.0
110      100130       1             -387.0

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子

In [50]:
#篩選資料
app_train[app_train['AMT_INCOME_TOTAL'] > 10000000]

        SK_ID_CURR  ...  AMT_REQ_CREDIT_BUREAU_YEAR
12840       114967  ...                         1.0
203693      336147  ...                         NaN
246858      385674  ...                         NaN

[3 rows x 122 columns]